<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header class="container">
    <h1 class="h1-title">
        <%- title %>
    </h1>
    <div class="search-box">
        <form action="/search" method="get" class="form-inline">
            <input type="text" name="keyword" placeholder="SEARCH" class="form-control" />
        </form>
    </div>
</header>
<div class="container">

    <nav class="pull-left nav-list">
        <a href="/" target="_self" class="btn btn-primary">home</a>
        <a href="/archive" target="_self" class="btn btn-default">archive</a>
        <a href="/tags" target="_self" class="btn btn-default">tags</a>

        <% if(user){ %>
            <a href="/post" target="_self" class="btn btn-default">post</a>
            <a href="/logout" target="_self" class="btn btn-default">logout</a>
        <% }else{ %>
            <a href="/login" target="_self" class="btn btn-default">login</a>
            <a href="/reg" target="_self" class="btn btn-default">register</a>
        <% } %>
    </nav>
    <article class="pull-left content">
        <% if(success){ %>
            <div><%- success %></div>
        <% } %>
        <% if(error){ %>
            <div><%- error %></div>
        <% } %>

