<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <header class="container">
        <h1>
            <%= title %>
        </h1>
    </header>
    <nav>
        <a href="/" target="_self" class="btn btn-primary">home</a>
        <a href="/home" target="_self" class="btn btn-default">login</a>
        <a href="/reg" target="_self" class="btn btn-default">register</a>
    </nav>
    <article>

    </article>
</body>
</html>