.h1-title{
    margin-left: 200px;
}
.nav-list{
    width:150px;
    margin-right:50px;
}
.nav-list a{
    width:120px;
    margin-bottom: 10px;
}
.content{
    width:900px;
}
.mar-right-10{
    margin-right:10px;
}
.mar-right-20{
    margin-right:20px;
}
.mar-left-10{
    margin-left:10px;
}
.mar-left-20{
    margin-left:20px;
}
